.video-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=file]::file-selector-button, .video-action-btn {
  border-radius: 10px;
  background-color: white;
  color: lightblue;
  border: 1px solid lightblue;
  padding: 10px;
  cursor: pointer;
}

input[type=file]::file-selector-button:hover, .video-action-btn:hover {
  background-color: lightblue;
  color: white;
  border: 1px solid white;
}

.recorded {
  max-width: 100%;
  width: 720px;
  height: auto;
}

.prediction-result {
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 20px 10px;
  margin: 10px auto;
  border-radius: 10px;
}